@import "./normalize.css";

/*:root -> 获取根元素html*/
:root {
  --color-text: #666;
  --color-high-text: #ff5777;
  --color-tint: #ff8198;
  --color-background: #fff;
  --font-size: 14px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  user-select: none; /* 禁止用户鼠标在页面上选中文字/图片等 */
  -webkit-tap-highlight-color: transparent; /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
  background: var(--color-background);
  color: var(--color-text);
  /* rem vw/vh */
  width: 100vw;
}

a {
  color: var(--color-text);
  text-decoration: none;
}

.clear-fix::after {
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}

.clear-fix {
  zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}
* {
  touch-action: pan-y;
}
.toastIndex{
  z-index: 999999 !important;
}
.van-toast{
  background-color: white;
  box-shadow: 0px 0px 30px 5px #e6e6e6;
  color: black;
  border-radius: 24px;
}
.van-toast.toastShadow{
  box-shadow: 0px 0px 0px 0px #e6e6e6;
  padding-right: 0px;
  padding-left: 0px;
  border-radius: 80px;
}
input{
  caret-color:#db2c1f;
}
.bottom51{
  bottom: 51px;
}
.bottom0{
  bottom: 0px;
}
.paddingBottom100{
  padding-bottom: 100px !important; 
}
.paddingBottom44{
  padding-bottom: 44px !important;  
}

/*app.vue  的style*/
.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active {
  will-change: transform;
  transition: all 200ms;
  position: absolute;
}
 
.slide-right-enter {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}
 
.slide-right-leave-active {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
 
.slide-left-enter {
  opacity: 0;
  transform: translate3d(100%, 0, 0);
}
 
.slide-left-leave-active {
  opacity: 0;
  transform: translate3d(-100%, 0, 0);
}

.borderRight {
  border-right: 1px solid #d1d1d1;
}
div:focus {
  outline: none;
}
.colorRed{
  color: #ff3a3a !important;
}
.invisible{
  visibility:hidden;
}
.iconfont.icon-nan{
  color: #6fccff;
  font-size: 14px;
}
.iconfont.icon-nv{
  color: #ff86b6;
  font-size: 14px;
}
.van-nav-bar__title{
  max-width: 250px;
}
